<div class="login-logo">
  <a href="./">
    <img src="images/logo.png" width="147" height="33">
  </a>
</div>

<div class="widget">
  <div class="login-content">
    <div class="widget-content" style="padding-bottom:0;">
      <form class="no-margin">
        <h3 class="form-title">Change Password</h3>

        <fieldset>
          <div class="form-group">
            <label for="password">Old Password</label>

            <div class="input-group input-group-lg">
                <span class="input-group-addon">
                    <i class="icon-lock"></i>
                </span>
              <input ng-model="currentPassword" type="password" placeholder="Your Password" class="form-control input-lg" id="password">
            </div>

          </div>

          <div class="form-group">
            <label for="password">New Password</label>

            <div class="input-group input-group-lg">
                <span class="input-group-addon">
                    <i class="icon-lock"></i>
                </span>
              <input ng-model="newPassword" type="password" placeholder="Your Password" class="form-control input-lg" id="password">
            </div>

          </div>

          <div class="form-group">
            <label for="password">Confirm Password</label>

            <div class="input-group input-group-lg">
                <span class="input-group-addon">
                    <i class="icon-lock"></i>
                </span>
              <input ng-model="newPasswordConfirmed" type="password" placeholder="Your Password" class="form-control input-lg" id="password">
            </div>

          </div>
        </fieldset>
        <div class="form-actions">
          <button class="btn btn-success" ng-click="changePassword(currentPassword, newPassword, newPasswordConfirmed)" type="submit">Change Password<i class="m-icon-swapright m-icon-white"></i>
          </button>
        </div>

        <div class="alert alert-block alert-danger fade in" ng-show="message.length > 0" ng-show="message.length > 0">
          <button type="button" class="close close-sm" data-dismiss="alert"> <i class="icon-remove"></i> </button>
          <strong>Oh snap!</strong> {{message}}
        </div>
      </form>
    </div>
    <div class=" footer"> 2015-2016 &copy; Shikashi Projects. </div>
  </div>
</div>
