<div class="container">
  <div class="top-navbar header b-b"> <a data-original-title="Toggle navigation" class="toggle-side-nav pull-left" href="#"><i class="icon-reorder"></i> </a>
    <div class="brand pull-left"> <a href="#" ng-click="reloadUploads()"><img src="images/logo.png" width="147" height="33"></a></div>
    <ul class="nav navbar-nav navbar-right  hidden-xs">

      <li class="dropdown user  hidden-xs"> <a data-toggle="dropdown" class="dropdown-toggle" href="#"> <i class="icon-male"></i> <span class="username">Your Account</span> <i class="icon-caret-down small"></i> </a>
        <ul class="dropdown-menu">
          <li><a href="/dashboard/password"><i class="icon-user"></i> Change Password</a></li>
          <li class="divider"></li>
          <li><a href="/logout"><i class="icon-key"></i> Log Out</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="wrapper">
    <div class="page-content">
      <div class="content container">

        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3 col-xs-12 col-sm-6"> <a href="client/setup.exe" class="stats-container" target="_blank">
                <div class="stats-heading">Client</div>
                <div class="stats-body-alt">
                  <!--i class="fa fa-bar-chart-o"></i-->
                  <div class="text-center"><span class="text-top">Desktop Application</span></div>
                  <small>For Windows 7/8/8.1/10</small> </div>
                <div class="stats-footer">click here to download</div>
              </a> </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <h2 class="page-title">Dashboard <small>Statistics and more</small></h2>
          </div>
        </div>
        <!-- Spacer
          Spacer
          Spacer -->
        <div class="row">
          <div class="col-lg-12">
            <div class="widget">
              <div class="widget-header"> <i class="icon-table"></i>
                <h3>Table</h3>
              </div>
              <div class="widget-content">
                <div class="body">
                  <table class="table table-striped table-images">
                    <thead>
                    <tr>
                      <th>Link</th>
                      <th>File name</th>
                      <th>Uploaded Since</th>
                      <th class="hidden-xs"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="upload in uploads | offset: currentPage*itemsPerPage | limitTo: itemsPerPage">
                      <td> <a href="https://i.shikashi.me/{{upload.key}}{{upload.extension}}" target="_blank">https://i.shikashi.me/{{upload.key}}{{upload.extension}}</a> </td>
                      <td> {{upload.fileName}} </td>
                      <td> {{upload.uploaded}} </td>
                      <td class="hidden-xs">
                        <button data-toggle="button" class="btn btn-sm btn-warning" ng-click="deleteUpload(upload.key)"> Delete </button></td>
                    </tr>
                    </tbody>
                  </table>
                  <div class="clearfix">
                    <ul class="pagination no-margin">
                      <li ng-class="prevPageDisabled()"><a href ng-click="prevPage()">Prev</a></li>
                      <li ng-repeat="n in range()" ng-click="setPage(n)" ng-class="{active: n == currentPage}"><a href="#">{{n+1}}</a></li>
                      <li ng-class="nextPageDisabled()"><a href ng-click="nextPage()">Next</a></li>
                    </ul>
                  </div>
                </div>
                <!-- Spacer
                  Spacer
                  Spacer -->
              </div>
            </div>

          </div>
        </div>
        <div class=" footer"> 2015-2016 &copy; Shikashi Projects. </div>
        </div>
    </div>
  </div>
</div>
