<div class="widget-404" style="margin-top: 50px;">
  <div class="row">
    <div class="col-md-5">
      <h1 class="text-align-center">404</h1>
    </div>
    <div class="col-md-7">
      <div class="description">
        <h3>{{status}} - {{message}} Oops! You're lost.</h3>
        <p>We can not find the page you're looking for.<br>
          <strong><a href="./">Return home</a></strong></p>
      </div>
    </div>
  </div>



  <div class="widget-404">
    <div class=" footer"> 2015-2016 &copy; Shikashi Projects. </div>
  </div>
</div>
