<div class="login-logo">
  <a href="./">
    <img src="images/logo.png" width="147" height="33">
  </a>
</div>

<div class="widget">
  <div class="login-content">
    <div class="widget-content" style="padding-bottom:0;">
      <h3 class="form-title" align="center">Welcome to the Panel</h3>
      <div class="m-b-sm">
        <div class="btn-group btn-group-justified"> <a class="btn btn-primary" href="./login">Login</a> <a class="btn btn-info" href="./register">Register</a>  </div>
      </div>
    </div>
    <div class=" footer"> 2015-2016 &copy; Shikashi Projects. </div>
  </div>
</div>
